# User Testing Report

User testing was conducted by Kelly Seay on 10/22/13 between the times of 15:00 and 18:00 with the following participants:

- Ashley 
- Steve
- {Jordan Doe}

## Tasks

1. back to top link
2. {Second task description here}
3. {Third task description here}

---

## Individual Results & Observations

### {Ashley}

- {She clicked on the wrong links, I didn't specify}
- {add drop down menu}
- {nav was unclear}


### {Steve}

- {couldn't find 'home' button}
- {suggested home page link}
- {nav was unclear}

### {Cassie}

- {found everything with ease}
- {suggested putting a background on the nav}
- {suggested making the main image smaller so you can see that there is more info below}
- {suggested centering title on second page and making images larger at full screen}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {couldn't find 'home' button}

### Serious, Causes Frustration, May Hinder Completion

- {NEED home button}


### Minor, Annoying, Won’t Hinder Completion

- {page names weren't obvious enough}